VITE_SUPABASE_URL=https://bhkccrglfrkiynryobsy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoa2NjcmdsZnJraXlucnlvYnN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MTMyODQsImV4cCI6MjEwNjE4OTI4NH0.n-II5PdQoN6TuefF3wJQglCHLTM5ahMpnubAMD9rp1g
